:root {
  --primary-orange: #f25f3a;
  --primary-blue: #242d52;
  --dark-background: #1d1e25;
}



body {
  font-family: "Be Vietnam", sans-serif;
  /* overflow: hidden; causes scrolling downward errors*/
}


h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #242d52;
  
}

h2 {
  color: var(--primary-blue);
}

h3, h4 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-blue);
}

p {
  font-size: 1rem;
  color: #9095a7;

}

/* color */

a.nav-link {
  color: #242d52 !important;
}

a.nav-link:hover {
  color: #9095a7 !important;
}

.text-primary {
  color: #242d52 !important;
}

.dark-background {
  background: var(--dark-background);
}

/* utilities */

/* .position-relative {
  position: relative;
} already a bootstrap class!*/


.bg-imgs {

  position: relative;
  overflow: hidden;

}

.bg-img-1-v2 {
  position: relative;
  overflow: hidden;

}

                      /* Nav */

.nav-link {
  font-size: 0.9rem;
  font-weight: 500;
}

.btn-nav {
  display: none;
}


                      /* showcase */

#showcase {
  overflow: hidden;
  position: relative;
}


.showcase-bg-img-1 {
  position: absolute;
    right: -578px;
    top: -258px;
    z-index: -1;
}

.bg-img-v1 {
  position: relative;
}

.bg-img-v1::after {
  /* 1200px and larger only */
  /* content: "";
  position: absolute;
  background: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  height: 850px;
  width: 850px;
  bottom: 75px;
  left: 52%;
  z-index: -1; */

  content: "";
  position: absolute;
  background: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  height: 850px;
  width: 850px;
  bottom: 368px;
  background-size: 95%;
  left: 22%;
  z-index: -1;

}

.bg-img-2 {
  position: relative;
}

.showcase-img-2 {
  position: absolute;
  top: -613px;
  left: -3px;
  z-index: -1;
  transform: scale(0.5);
}

.bg-img-3 {
  position: absolute;

}



.graph-img {
  margin-top: -30px;
}

.btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  background: #f25f3a;
  color: white !important;
  box-shadow: 0px 5px 15px rgba(242, 95, 58, 0.521);
  transition: all 0.3s ease;
}

.btn:hover {
  background: #f25f3a85;
}

                                                  /* Difference /Feature Section  */

#diff-section {
  overflow-x: hidden;
}

.diff-digit {
  background: var(--primary-orange);
  width: 70px;
  display: flex;
  border-radius: 30px;
  padding: 10px 30px;
  align-items: center;
  justify-content: center;
  color: white;
}

.btn.btn-diff-digit {
  box-shadow: none;
  
}

.bg-banner {
  position: relative;
}

.bg-banner::after {

  content: "";
  position: absolute;
  /* background: #fde7e2; */
  background: #fff0ed;
  /* need to specify height and width for banner to pop up */
  height: 45px;
  width: 100%; 
  border-radius: 60px;
  z-index: -1;
}


h2 {
  font-weight: bold;
  font-size: 40px;
}


h3.align-self-center {
  margin-bottom: 0px;
}

.bg-img-22 {
  position: relative;
}

.bg-img-22::after {
  /* 1200px and larger only */
  /* content: "";
  position: absolute;
  background: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  height: 850px;
  width: 850px;
  bottom: -560px;
  left: -65%;
  z-index: -1; */


  /* Tablet Version */
  content: "";
  position: absolute;
  background: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  height: 850px;
  width: 850px;
  bottom: 220px;
  background-size: 75%;
  left: 56%;
  z-index:-1;
}



/* Testimonials Section */

#testimonials img {
  margin-top: -65px;
  width: 65px;
}

.card {
  background-color: #fafafa;
  border-style: none;
}

.swiper-container {
  width: 90%;
  height: 300px;
  margin-bottom: 2rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}




.swiper-pagination-bullet {
  background-color: white !important;
  border: 1px solid var(--primary-orange);
  opacity: 1;
  outline: none;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-orange) !important;
}



/* CTA Section */

#cta {
  background-color: var(--primary-orange);
  overflow: hidden;
}

.cta-bg {
  position: relative;
} 

.cta-bg-img {
  
position: absolute;
    left: -425px;
    top: -35px;
    opacity: 0.1;
    /* transform: scale(0.75); */
    width: 165%;
}


.btn-alt {
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    color: #f25f3a !important;
    background: white !important;
    box-shadow: 0px 5px 15px rgba(242, 95, 58, 0.521);
    transition: all 0.3s ease;
}


/* Footer */

li a {
  color: white;
}

li a:hover {
  text-decoration: none;
  color: var(--primary-orange)
}

i.fab {
  color:white;
}

.fab:hover {
  color: var(--primary-orange);
}

.round-input {
  border-radius: 30px;
  padding: 10px;
}







/* // Small devices (landscape phones, 576px and LOWER) */
@media (max-width: 576px) { 

  .showcase-bg-img-1 {
    right: -365px;
    top: -277px;
    transform: scale(0.6); 
  }
      
  .showcase-img-2 {
    position: absolute;
    top: -615px;
    left: 10px;
    z-index: -1;
    transform: scale(0.45);

}
}

/* // Small devices (landscape phones, 577px and up) */
@media (min-width: 577px) { 

  .showcase-img-2 {
    position: absolute;
    top: -686px;
    left: 429px;
    z-index: -1;
    transform: scale(0.65);
}

}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

  h1 {
  font-size: 3.5rem;

  }

  .showcase-bg-img-1 {
    right: -228px;
    top: -168px;
  }
  

}



@media (min-width: 992px) {



  /* .bg-img-1::after {
    bottom: 75px;
    left: 52%;
    background-size: 100%;
  } */

  .btn-nav {
     display: inline-block;
  }

  .showcase-bg-img-1 {
    /* Laptop L size */
    position: absolute;
    right: -125px;
    top: -128px;
    z-index: -1;
  }

  .bg-img-2::after {
    bottom: -560px;
    left: -65%;
    background-size: 100%;
  }

  .bg-img-3 {
    position: absolute;
    z-index: -1;
    bottom: 401px;
    left: -499px;
}



.ml-lg-6  {
    margin-left: 5rem!important;
}

.bg-banner::after {
  /* another way to hide banner? */
  height: 0px;
}


.cta-bg-img {
  position: absolute;
  left: -10px;
  top: -70px;
  opacity: 0.1;
  /* transform: scale(0.75); */
  width: 60%;
}



}

